@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.title-txt
		font-size: 9.5vw	

	.main, .about-resad, .services, .startup, .our-clients, 
	.expertise, .benefits, .technologies-use,
	.industries
		&:before 
			display: none
		&:after 
			display: none

	.main-container
		margin-left: 15px
		margin-right: 15px


	.main 
		.hidden-menu
			.hidden-menu-container
				&:before 
					display: none
			.close-menu
				left: 47%
			.lang-close
				position: relative
				width: 100%
				top: 50px
				margin: 0 auto
				.lan-icon
					&:nth-child(1)
						margin-right: 70px
					&:nth-child(2)
						margin-right: 70px
		.main-block-mnu
			position: absolute
			left: 85%
			top: 30px
			transform: rotate(-180deg)
			width: 35px
			height: 35px
			&:hover
				&:before 
					left: -10px
				&:after 
					left: 20px
			&:before 
				width: 35px
			&:after 
				width: 25px
				left: 10px
			span 
				display: none
		.main-content
			.btn-4
				width: 45%
				font-size: 3.5vw
				&:hover
					width: 50%
			.txt
				font-size: 5vw

	.about-resad
		margin-bottom: 40%
		.bg-resad
			max-width: 100%
			top: 25%
		.main-container
			display: block
			&:before 
				display: none
			&:after 
				display: none
			.block-text
				width: 100%
				padding-left: 0px
				padding-right: 0px
				p
					font-size: 3.5vw
			.block-graf
				width: 100%
				.founded, .offices, .developers, .projects
					span 
						font-size: 2.5vw
					h2
						font-size: 8vw

	.services
		&:before 
			display: none
		&:after 
			display: none
		.main-container
			.top-text
				padding-left: 0
				p
					font-size: 3.2vw
					max-width: 100%
			.list-services
				.right-img-block
					display: flex
					flex-direction: column-reverse
					left: 0px
				.left-img-block
					display: block
					margin-top: 15%
				.left-img-block, .right-img-block
					max-width: 100%
					.logo-services
						margin: 0 auto
						width: 30%
						margin-bottom: 5%
					.text-services
						padding-left: 0%
						width: 90%
						margin: 0 auto
						h3
							font-size: 4.9vw
						p 
							font-size: 3vw

	.startup
		.main-container
			.block-startup
				padding-left: 2.5%
				padding-right: 5px
				padding-bottom: 13%
				max-width: 95%
				.descript
					span
						font-size: 3vw

	.our-clients
		.main-container
			.block-clients
				max-width: 95%
			.block-btn
				.btn-4
					width: 45%
					font-size: 3.5vw
					&:hover
						width: 50%
				.txt
					font-size: 5vw

	.expertise
		.main-container
			flex-direction: column-reverse
			.left-block
				width: 100%
			.right-block
				width: 100%	
				padding-left: 0
				.title-txt
					text-align: center
				.block-img-1
					width: 30%
					margin: 0 auto
					margin-top: 12%
					&:after 
						display: none
			.left-block
				.list
					padding-left: 0%
					padding-top: 5%
					text-align: center
					&-item
						font-size: 3.2vw
						&:hover
							font-size: 3.6vw

	.benefits
		.main-container
			display: block
			.left-title-benefits
				width: 100%
			.right-benefits-icon
				width: 100%
				.left-icon, .right-icon
					font-size: 2.8vw
					.block-benefits
						width: 80%
						margin-bottom: 40%
				.left-icon
					.block-benefits
						position: relative
						left: 25%

	.technologies-use
		.main-container
			.block-technologies
				max-width: 95%

	.industries
		.main-container
			.block-industries
				.icon-industries
					margin: 3% 2%
					.indust
						font-size: 3vw

	.touch
		display: block
		&:before 
			display: none
		.get-in-touch
			.text
				text-align: center
				margin-left: 0px
				p 
					font-size: 3vw
			.contacts
				.email, .phone
					.name
						font-size: 3vw
					.values
						font-size: 2.5vw
		.form-footer
			.form
				margin: 0px auto
			.footer-btn
				font-size: 3.5vw

	.footer
		.main-container
			.footer-logo
				img
					width: 50%
			.footer-soc
				.in 
					width: 22%
				.facebook
					width: 8%



	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

