@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.gradient
	background: rgba(243,243,244,1)
	background: -moz-linear-gradient(left, rgba(243,243,244,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(243,243,244,1) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,243,244,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(100%, rgba(243,243,244,1)))
	background: -webkit-linear-gradient(left, rgba(243,243,244,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(243,243,244,1) 100%)
	background: -o-linear-gradient(left, rgba(243,243,244,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(243,243,244,1) 100%)
	background: -ms-linear-gradient(left, rgba(243,243,244,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(243,243,244,1) 100%)
	background: linear-gradient(to right, rgba(243,243,244,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(243,243,244,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#f3f3f4', GradientType=1 )

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.main-container
	margin-left: 55px
	margin-right: 55px
	position: relative
	display: flex
	min-height: 750px
	&:before 
		content: ''
		background-color: #101120
		opacity: 0.20
		width: 1px 
		height: 135px
		position: absolute
		top: 0px 
		left: 50%
	&:after 
		content: ''
		background-color: #101120
		opacity: 0.20
		width: 1px 
		height: 260px
		position: absolute
		bottom: 0px 
		left: 50%

.title-txt
	color: #070215
	font-size: 3.5vw
	text-transform: uppercase
	font-weight: 400

h2, h3
	margin: 0px

ul
	margin: 0px 
	padding: 0px
	list-style-type: none

/* style section main */

.main 
	padding-bottom: 50px	
	background: #080215
	background-image: url('../img/bg-logo-main.png')
	background-repeat: no-repeat
	background-position: 50% 75%
	position: relative
	&:before 
		content: ''
		background-color: #ffffff
		height: 100%
		width: 1px
		opacity: 0.10
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #ffffff
		height: 100%
		width: 1px
		opacity: 0.10
		position: absolute
		top: 0px 
		right: 55px
	.main-block-mnu
		position: fixed
		display: inline-block
		width: 90px
		text-align: right
		cursor: pointer
		transition: 0.5s
		transform: rotate(-90deg)
		z-index: 1000
		top: 50%
		left: -20px
		&:hover
			&:before
				left: -20px
			&:after
				left: -5px
		span 
			color: #ffffff
			text-transform: uppercase
			font-size: 14px
		&:before 
			content: ''
			background-color: #ffffff
			position: absolute
			top: 10px 
			left: 0px
			height: 1px
			width: 25px
			transition: 0.4s
		&:after 
			content: ''
			background-color: #ffffff
			position: absolute
			bottom: 6px 
			left: 0px
			height: 1px
			width: 35px
			transition: 0.4s
	.hidden-menu
		background-color: rgba(7, 2, 21, 0.98)
		position: fixed
		width: 100%
		height: 100vh
		top: 0
		left: 0
		z-index: 2000
		display: none
		.hidden-menu-container
			max-width: 95%
			margin: 0 auto
			position: relative
			&:before 
				content: ''
				width: 1px 
				height: 85%
				background-color: #ffffff
				opacity: 0.1
				position: absolute
				left: 15px
				top: -50px
		.close-menu
			position: relative
			width: 45px
			height: 45px
			top: 0
			left: 90%
			cursor: pointer
			margin: 50px 0
			opacity: 0.5
			.close-menu-icon
				&:nth-child(1)
					position: absolute
					width: 100%
					height: 2px
					background-color: #ffffff
					top: 20px
					left: 0
					transform: rotate(45deg)
				&:nth-child(2)
					position: absolute
					width: 100%
					height: 2px
					background-color: #ffffff
					top: 20px
					left: 0
					transform: rotate(-45deg)
		.menu-list
			text-align: center
			margin: 10px 0
			.hidden-icon
				text-decoration: none
				color: #ffffff
				font-size: 30px
				transition: 0.5s
				&:hover
					color: #3e00a5
					font-size: 36px
					font-weight: bold
		.lang-close
			position: relative
			width: 30px
			height: auto
			top: 0
			left: 0
			text-align: center
			color: rgba(255, 255, 255, 0.5)
			.lan-icon	
				text-transform: uppercase
				display: inline-block
				margin-bottom: 5px
			.active
				color: rgba(255, 255, 255, 1)
	.top-logo
		text-align: center
		padding-top: 22px
		position: relative
		&:before 
			content: ''
			width: 1px
			height: 43px
			position: absolute
			bottom: -40px 
			left: 50%
			background-color: #ffffff
			opacity: 0.10
			img 
				width: 100%
	.main-content
		text-align: center
		padding: 0px 75px
		margin-top: 17%
		.txt
			color: #ffffff
			font-size: 2.8vw
			font-family: Times New Roman
			font-weight: 400
			letter-spacing: 5px
			margin-bottom: 30px
		.btn-4 
			width: 20%
			height: 48px
			line-height: 48px
			padding: 0
			border: none
			font-size: 1.5vw
			font-family: Times New Roman
			font-weight: 400
			color: #ffffff
			background-color: transparent
			position: relative
			transition: all 0.3s ease
			&:hover
				width: 25%
			&:before
				position: absolute
				content: ""
				left: 0
				top: 0
				background: #ffffff
			&:after
				position: absolute
				content: ""
				left: 0
				top: 0
				background: #ffffff
			span 
				position: relative
				display: block
				width: 100%
				height: 100%
			
			&:before 
				height: 70%
				width: 1px
			
			&:after 
				width: 80%
				height: 1px
			
			span
				&:before
					position: absolute
					content: ""
					right: 0
					bottom: 0
					background: #ffffff
			span
				&:after 
					position: absolute
					content: ""
					right: 0
					bottom: 0
					background: #ffffff
			
			span
				&:before 
					width: 1px
					height: 70%
			
			span
				&:after 
					width: 80%
					height: 1px

	.block-language
		text-align: center
		text-transform: uppercase
		font-size: 16px
		color: rgba(255, 255, 255, 0.2)
		margin-top: 120px
		position: relative
		&:before 
			content: ''
			width: 1px
			height: 85px
			position: absolute
			top: -95px 
			left: 50%
			background-color: #ffffff
			opacity: 0.10
		.lan
			padding: 0px 10px
		.active
			color: rgba(255, 255, 255, 1)

/* end style section main */

/**********************************************************/

/* style about resad */

.about-resad
	position: relative
	.bg-resad
		position: absolute
		max-width: 50%
		top: 300px
		left: -30px
		width: 100%
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		.block-text
			width: 50%
			padding-left: 80px
			padding-right: 80px
			margin-top: 15%
			p 
				color: #000000
				font-size: 1.2vw
		.block-graf
			width: 50%
			position: relative
			.founded
				background-color: rgba(94, 94, 96, 0.02)
				border: 1px solid #a0a0a9
				max-width: 50%
				width: 100%
				padding:
					left: 13%
					top: 5%
					bottom: 5%
				position: absolute
				top: 180px
				left: 4%
				span 
					color: #000000
					font-size: 1.2vw
					text-transform: uppercase
					opacity: 0.8
					font-weight: 700
					position: relative
					&:before 
						content: ''
						height: 1px
						width: 30%
						background-color: #000000
						position: absolute
						top: 49%
						left: -40%
				h2
					font-size: 4vw
					color: #18003f
					font-weight: 400
					line-height: 76px
			.offices
				border: 1px solid #a0a0a9
				max-width: 22%
				width: 100%
				padding:
					left: 7%
					top: 5%
					bottom: 5%
				position: absolute
				top: 65px
				left: 47%
				span 
					color: #000000
					font-size: 1.2vw
					text-transform: uppercase
					opacity: 0.8
					font-weight: 700
					position: relative
					&:before 
						content: ''
						height: 1px
						width: 40%
						background-color: #000000
						position: absolute
						top: 49%
						left: -45%
				h2
					font-size: 4vw
					color: #18003f
					font-weight: 400
					line-height: 76px
					margin: 0px
					padding-left: 15px
			.developers
				border: 1px solid #a0a0a9
				background-color: rgba(94, 94, 96, 0.02)
				max-width: 51%
				width: 100%
				padding: 
					left: 25%
					top: 3%
					bottom: 2% 
				position: absolute
				top: 270px
				left: 46%
				span 
					color: #000000
					font-size: 1.2vw
					text-transform: uppercase
					opacity: 0.8
					font-weight: 700
					position: relative
					left: 15px
					&:before 
						content: ''
						height: 1px
						width: 30%
						background-color: #000000
						position: absolute
						top: 49%
						left: -40%
				h2
					font-size: 4vw
					color: #18003f
					font-weight: 400
					line-height: 76px
					margin: 0px
			.projects
				border: 1px solid #a0a0a9
				max-width: 28%
				width: 100%
				padding:
					left: 5%
					top: 20%
					bottom: 6%
				position: absolute
				top: 300px
				left: 35%
				span 
					color: #000000
					font-size: 1.2vw
					text-transform: uppercase
					opacity: 0.8
					font-weight: 700
					position: relative
					left: 10%
					&:before 
						content: ''
						height: 1px
						width: 30%
						background-color: #000000
						position: absolute
						top: 49%
						left: -40%
				h2
					font-size: 4vw
					color: #18003f
					font-weight: 400
					line-height: 76px
					margin: 0px

/* end style about resad */

/**********************************************************/

/* style section services */

.services
	position: relative
	.bg-services
		position: absolute
		right: -200px
		top: -80px
		max-width: 50%
		width: 100%
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		display: block
		padding-bottom: 250px
		&:before 
			content: none
		&:after
			content: ''
			background-color: #101120
			opacity: 0.20
			width: 1px 
			height: 135px
			position: absolute
			bottom: 50px 
			left: 50%
		.top-text
			padding-left: 12%
			padding-top: 50px
			.title-txt
				line-height: 60px
			p
				color: #000000
				opacity: 0.8
				font-size: 1.2vw
				font-weight: 400
				max-width: 50%
				width: 100%
		.list-services
			.left-img-block
				max-width: 60%
				margin: 0px auto
				display: flex
				margin-top: 7%
				.logo-services
					width: 20%
					img
						width: 100%
				.text-services
					width: 80%
					padding-left: 10%
					h3
						color: #070215
						font-size: 1.9vw
						line-height: 24px
						position: relative
						margin-bottom: 50px
						&:before 
							content: ''
							background-color: #3e00a5
							width: 100px
							height: 2px
							position: absolute
							bottom: -30px 
							left: 0px
					p
						font-size: 1vw
						color: #000000
						opacity: 0.9
			.right-img-block
				max-width: 60%
				margin: 0px auto
				display: flex
				margin-top: 7%
				position: relative
				left: 50px
				.logo-services
					width: 20%
					img
						width: 100%
				.text-services
					width: 80%
					padding-right: 10%
					h3
						color: #070215
						font-size: 1.9vw
						line-height: 24px
						position: relative
						margin-bottom: 50px
						&:before 
							content: ''
							background-color: #3e00a5
							width: 100px
							height: 2px
							position: absolute
							bottom: -30px 
							left: 0px
					p
						font-size: 1vw
						color: #000000
						opacity: 0.9

/* end style section services */

/**********************************************************/

/* style section startup */

.startup
	position: relative
	padding-bottom: 200px
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		display: block
		min-height: 0px
		padding-top: 20px
		&:before 
			content: none
		&:after
			content: ''
			background-color: #101120
			opacity: 0.20
			width: 1px 
			height: 100px
			position: absolute
			bottom: -155px 
			left: 50%
		.block-startup
			background-color: #f5f5f6
			max-width: 65%
			width: 100%
			margin: 0px auto
			padding-left: 10.5%	
			padding-right: 50px
			padding-top: 5%
			padding-bottom: 6%
			-webkit-box-shadow: 0px 0px 20px 5px rgba(209,209,209,1)
			-moz-box-shadow: 0px 0px 20px 5px rgba(209,209,209,1)
			box-shadow: 0px 0px 20px 5px rgba(209,209,209,1)
			.title-txt
				position: relative
				&:before 
					content: ''
					background-color: #3e00a5
					width: 16%
					height: 2px
					position: absolute
					bottom: -15px 
					left: 0px
			.descript
				margin-top: 45px
				span 
					font-size: 1.4vw
					font-weight: 400
					color: #000000
					opacity: 0.9

/* end style section startup */

/**********************************************************/

/* style section our clients */

.our-clients
	position: relative
	padding-bottom: 130px
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.bg-top
		position: absolute
		right: -410px
		top: -120px
	.bg-bottom
		position: absolute
		bottom: -100px
		left: -280px
	.main-container
		display: block
		min-height: 0px
		&:before 
			content: none
		&:after
			content: none
		.block-btn
			text-align: center
			margin-top: 130px
			position: relative
			&:before
				content: ''
				background-color: #101120
				opacity: 0.20
				width: 1px 
				height: 60px
				position: absolute
				top: -100px 
				left: 50%
			&:after
				content: ''
				background-color: #101120
				opacity: 0.20
				width: 1px 
				height: 60px
				position: absolute
				bottom: -100px 
				left: 50%
			.btn-4 
				width: 20%
				height: 48px
				line-height: 48px
				padding: 0
				border: none
				font-size: 1.5vw
				font-family: Times New Roman
				font-weight: 400
				color: #3e00a5
				background-color: transparent
				position: relative
				transition: all 0.3s ease
				z-index: 3000
				&:hover
					width: 25%
				&:before
					position: absolute
					content: ""
					left: 0
					top: 0
					background: #3e00a5
				&:after
					position: absolute
					content: ""
					left: 0
					top: 0
					background: #3e00a5
				span 
					position: relative
					display: block
					width: 100%
					height: 100%
				
				&:before 
					height: 70%
					width: 1px
				
				&:after 
					width: 80%
					height: 1px
				
				span
					&:before
						position: absolute
						content: ""
						right: 0
						bottom: 0
						background: #3e00a5
				span
					&:after 
						position: absolute
						content: ""
						right: 0
						bottom: 0
						background: #3e00a5
				
				span
					&:before 
						width: 1px
						height: 70%
				
				span
					&:after 
						width: 80%
						height: 1px	
		.title-txt
			text-align: center
			width: 100%
		.block-clients
			max-width: 65%
			width: 100%
			margin: 0 auto
			margin-top: 8%
			.logo-clients
				width: 19%
				display: inline-block
				margin-bottom: 25px
				text-align: center
				.img-log
					width: 60%
			
/* end section our clients */

/**********************************************************/

/* style section expertise */

.expertise
	position: relative
	background-color: #070215
	padding-bottom: 12.7%
	&:before 
		content: ''
		background-color: lighten(#101120, 65%)
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: lighten(#101120, 65%)
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		min-height: 0px
		&:before 
			content: none
		&:after
			content: none
		.left-block
			width: 50%
			.list
				padding-left: 20%
				padding-top: 17%
				&-item
					font-size: 1.2vw
					color: #ffffff
					padding: 5px
					opacity: 0.9
					transition: 0.5s
					cursor: pointer
					&:nth-child(1)
						opacity: 0.1
					&:nth-child(2)
						opacity: 0.1
					&:nth-child(3)
						opacity: 0.1
					&:nth-child(4)
						opacity: 0.2
					&:nth-child(5)
						opacity: 0.4
					&:nth-child(6)
						opacity: 0.4
					&:nth-child(7)
						opacity: 0.4
					&:nth-child(8)
						opacity: 0.2
					&:nth-child(9)
						opacity: 0.2
					&:nth-child(10)
						opacity: 0.1
					&:hover
						opacity: 0.9
						padding: 15px 5px
						font-size: 1.6vw
		.right-block
			width: 50%
			padding-left: 8%
			.title-txt
				color: #ffffff
				margin-top: 40px
			.block-img-1
				width: 44%
				margin-top: 20%
				position: relative
				&:before 
					content: ''
					position: absolute
					width: 1px
					height: 40%
					background-color: #f1f1f1
					opacity: 0.3
					top: -60% 
					left: 50%
				&:after
					content: ''
					position: absolute
					width: 1px
					height: 75%
					background-color: #f1f1f1
					opacity: 0.3
					bottom: -110% 
					left: 50%
				.block-img
					img 
						width: 100%
					&:before 
						content: ''
						position: absolute
						width: 80%
						height: 1px 
						background-color: #f1f1f1
						opacity: 0.3
						top: 50% 
						left: -110%
					&:after
						content: ''
						position: absolute
						width: 80%
						height: 1px 
						background-color: #f1f1f1
						opacity: 0.3
						top: 50% 
						right: -110%
				
/* end section expertise */

/**********************************************************/

/* style section benefits */

.benefits
	position: relative
	padding: 130px 0
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		min-height: 0px
		display: flex
		align-items: center
		&:before 
			height: 95px
			top: -95px
		&:after
			height: 95px
			bottom: -50px
		.left-title-benefits
			width: 50%
			.title-txt
				text-align: center
		.right-benefits-icon
			display: flex
			width: 50%
			align-items: center
			padding-left: 10px
			.left-icon, .right-icon
				width: 50%
				color: #000000
				font-size: 1.4vw
				.block-benefits
					position: relative
					padding-left: 13%
					width: 70%
					p
						padding-top: 5% 
						padding-bottom: 10%
					&:before 
						content: ''
						position: absolute
						top: 0px
						left: 0px
						height: 2px 
						width: 35%
						background-color: #3e00a5

/* end style benefits */

/**********************************************************/

/* style section technologies we use */

.technologies-use
	position: relative
	padding-bottom: 170px
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		min-height: 0px
		display: block
		&:before 
			content: none
		&:after
			height: 65px
			bottom: -120px
		.title-txt
			font-size: 30px
			text-align: center
			width: 100%
		.block-technologies
			max-width: 65%
			width: 100%
			margin: 0px auto
			margin-top: 30px
			.logo-technologies
				width: 11.5%
				display: inline-block
				text-align: center
				margin-top: 25px
				.img-log-tech
					width: 35%	

/* end style technologies we use */

/**********************************************************/

/* style section industries */

.industries
	position: relative
	padding-bottom: 150px
	&:before 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		left: 55px
	&:after 
		content: ''
		background-color: #101120
		height: 100%
		width: 1px
		opacity: 0.20
		position: absolute
		top: 0px 
		right: 55px
	.main-container
		min-height: 0px
		display: block
		&:before 
			content: none
		&:after
			height: 65px
			bottom: -120px
		.title-txt
			width: 100%
			text-align: center
		.block-industries
			max-width: 75%
			width: 100%
			margin: 0px auto
			margin-top: 50px
			.icon-industries
				background-color: #f5f5f6
				display: inline-block
				padding: 1% 2%
				margin: 1.5% 2%
				-webkit-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1)
				-moz-box-shadow: 0px 0px 10px 4px rgba(204,204,204,1)
				box-shadow: 0px 0px 10px 4px rgba(204,204,204,1)
				.indust
					color: #000000
					font-size: 1.6vw
					font-weight: 400

/* end style industries */

/**********************************************************/

/* style footer */

.touch
	display: flex
	background-color: #070215
	position: relative
	&:before 
		content: ''
		background-color: #ffffff
		opacity: 0.10
		height: 90%
		width: 1px
		position: absolute
		top: 5% 
		left: 50%
	.get-in-touch
		width: 100%
		margin-top: 100px
		.text
			margin-left: 21%
			.title-txt
				color: #ffffff
			p
				font-size: 0.9vw
				color: #ffffff
				font-weight: normal
				opacity: 0.8
				margin: 0px
				line-height: 20px
		.contacts
			margin-top: 10%
			.email
				margin-bottom: 3%	
			.email, .phone
				position: relative
				padding-left: 37%
				&:before 
					content: ''
					position: absolute
					top: 12px 
					left: 0px
					width: 33%
					height: 2px
					background-color: #292929
					opacity: 0.3
				.name
					display: block
					color: #3e00a5
					font-size: 1.2vw
				.values
					text-transform: uppercase
					font-size: 1.2vw
					color: #ffffff
	.form-footer
		width: 100%
		margin-top: 11%
		padding-bottom: 9%
		position: relative
		.form
			margin-left: 20%
			max-width: 70%
			input, textarea
				width: 100%
				background-color: transparent
			input
				border: none
				border-bottom: 1px solid rgba(41, 41, 41, 0.5)
				outline: none
				padding-left: 5px
				margin-top: 15px
				color: #ffffff
				opacity: 0.9
				font-size: 14px
				&::placeholder
					color: #ffffff
					opacity: 0.9
					font-size: 14px
			.msg-textarea
				color: #ffffff
				opacity: 0.9
				font-size: 14px
				padding-left: 5px
				margin-top: 15px
				display: inline-block
			textarea
				border: 1px solid rgba(41, 41, 41, 0.5)
				background-color: rgba(18, 9, 43, 0.5)
				outline: none
				margin-top: 5px
				color: #ffffff
				opacity: 0.9
				font-size: 14px
				min-height: 80px
				display: block
				padding-left: 5px
		.footer-btn 
			width: 60%
			height: 48px
			line-height: 48px
			padding: 0
			border: none
			font-size: 1.5vw
			font-family: Times New Roman
			font-weight: 400
			color: #ffffff
			background-color: transparent
			position: relative
			transition: all 0.3s ease
			margin-top: 17%
			&:hover
				width: 65%
			&:before
				position: absolute
				content: ""
				left: 0
				top: 0
				background: #ffffff
			&:after
				position: absolute
				content: ""
				left: 0
				top: 0
				background: #ffffff
			span 
				position: relative
				display: block
				width: 100%
				height: 100%
			
			&:before 
				height: 70%
				width: 1px
			
			&:after 
				width: 80%
				height: 1px
			
			span
				&:before
					position: absolute
					content: ""
					right: 0
					bottom: 0
					background: #ffffff
			span
				&:after 
					position: absolute
					content: ""
					right: 0
					bottom: 0
					background: #ffffff
			
			span
				&:before 
					width: 1px
					height: 70%
			
			span
				&:after 
					width: 80%
					height: 1px

/* end style footer */

/**********************************************************/

/* style footer */

.footer
	background-color: #070215
	padding: 10px 0
	.main-container
		min-height: 0px
		display: flex
		justify-content: space-between
		align-items: center
		&:before 
			content: none
		&:after 
			content: none
		.footer-logo, .footer-menu, .footer-soc
			width: 33%
		.footer-logo
			img 
				width: 30%
		.footer-soc
			.in 
				width: 13%
			.facebook
				width: 4%
		.footer-menu
			text-align: center
			position: relative
			.block-mnu
				position: relative
				display: inline-block
				width: 90px
				text-align: right
				cursor: pointer
				transition: 0.5s
				&:hover
					&:before
						left: -20px
					&:after
						left: -5px
				span 
					color: #ffffff
					text-transform: uppercase
					font-size: 14px
				&:before 
					content: ''
					background-color: #ffffff
					position: absolute
					top: 10px 
					left: 0px
					height: 1px
					width: 25px
					transition: 0.5s
				&:after 
					content: ''
					background-color: #ffffff
					position: absolute
					bottom: 6px 
					left: 0px
					height: 1px
					width: 35px
					transition: 0.5s
		.footer-soc
			text-align: right
			.in 
				padding-right: 20px

/* end style footer */


@import "media" // Всегда в конце
